.form {
  display: flex !important;
  flex-direction: row !important;
  max-width: 100% !important;
  align-items: end;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
}

.item {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}
.label {
  color: #1a2222;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
}
.input {
  padding: 10px;
  font-size: 16px;
}
.error {
  color: crimson;
  position: absolute;
  top: 80px;
  font-size: 12px;
}
